{
    "last-updated" : "$current.dateTime.raw",
    "barometer-unit" : "$unit.unit_type.barometer",
    "barometer-unit-label" : "$unit.label.barometer",
    "barometer-now" : "$current.barometer.raw",
    "barometer-hour-max" : "$hour.barometer.max.raw",
    "barometer-hour-max-when" : "$hour.barometer.maxtime.raw",
    "barometer-hour-min" : "$hour.barometer.min.raw",
    "barometer-hour-min-when" : "$hour.barometer.mintime.raw",
    "barometer-day-max" : "$day.barometer.max.raw",
    "barometer-day-max-when" : "$day.barometer.maxtime.raw",
    "barometer-day-min" : "$day.barometer.min.raw",
    "barometer-day-min-when" : "$day.barometer.mintime.raw",
    "barometer-month-max" : "$month.barometer.max.raw",
    "barometer-month-max-when" : "$month.barometer.maxtime.raw",
    "barometer-month-min" : "$month.barometer.min.raw",
    "barometer-month-min-when" : "$month.barometer.mintime.raw",
    "barometer-year-max" : "$year.barometer.max.raw",
    "barometer-year-max-when" : "$year.barometer.maxtime.raw",
    "barometer-year-min" : "$year.barometer.min.raw",
    "barometer-year-min-when" : "$year.barometer.mintime.raw",
    "temperature-unit" : "$unit.unit_type.outTemp",
    "temperature-unit-label" : "$unit.label.outTemp",
    "temperature-now" : "$current.outTemp.raw",
    "temperature-hour-max" : "$hour.outTemp.max.raw",
    "temperature-hour-max-when" : "$hour.outTemp.maxtime.raw",
    "temperature-hour-min" : "$hour.outTemp.min.raw",
    "temperature-hour-min-when" : "$hour.outTemp.mintime.raw",
    "temperature-day-max" : "$day.outTemp.max.raw",
    "temperature-day-max-when" : "$day.outTemp.maxtime.raw",
    "temperature-day-min" : "$day.outTemp.min.raw",
    "temperature-day-min-when" : "$day.outTemp.mintime.raw",
    "temperature-month-max" : "$month.outTemp.max.raw",
    "temperature-month-max-when" : "$month.outTemp.maxtime.raw",
    "temperature-month-min" : "$month.outTemp.min.raw",
    "temperature-month-min-when" : "$month.outTemp.mintime.raw",
    "temperature-year-max" : "$year.outTemp.max.raw",
    "temperature-year-max-when" : "$year.outTemp.maxtime.raw",
    "temperature-year-min" : "$year.outTemp.min.raw",
    "temperature-year-min-when" : "$year.outTemp.mintime.raw",
    "wind-chill-unit" : "$unit.unit_type.outTemp",
    "wind-chill-unit-label" : "$unit.label.outTemp",
    "wind-chill-now" : "$current.windchill.raw",
    "wind-chill-hour-max" : "$hour.windchill.max.raw",
    "wind-chill-hour-max-when" : "$hour.windchill.maxtime.raw",
    "wind-chill-hour-min" : "$hour.windchill.min.raw",
    "wind-chill-hour-min-when" : "$hour.windchill.mintime.raw",
    "wind-chill-day-max" : "$day.windchill.max.raw",
    "wind-chill-day-max-when" : "$day.windchill.maxtime.raw",
    "wind-chill-day-min" : "$day.windchill.min.raw",
    "wind-chill-day-min-when" : "$day.windchill.mintime.raw",
    "wind-chill-month-max" : "$month.windchill.max.raw",
    "wind-chill-month-max-when" : "$month.windchill.maxtime.raw",
    "wind-chill-month-min" : "$month.windchill.min.raw",
    "wind-chill-month-min-when" : "$month.windchill.mintime.raw",
    "wind-chill-year-max" : "$year.windchill.max.raw",
    "wind-chill-year-max-when" : "$year.windchill.maxtime.raw",
    "wind-chill-year-min" : "$year.windchill.min.raw",
    "wind-chill-year-min-when" : "$year.windchill.mintime.raw",
    "heat-index-unit" : "$unit.unit_type.outTemp",
    "heat-index-unit-label" : "$unit.label.outTemp",
    "heat-index-now" : "$current.heatindex.raw",
    "heat-index-hour-max" : "$hour.heatindex.max.raw",
    "heat-index-hour-max-when" : "$hour.heatindex.maxtime.raw",
    "heat-index-hour-min" : "$hour.heatindex.min.raw",
    "heat-index-hour-min-when" : "$hour.heatindex.mintime.raw",
    "heat-index-day-max" : "$day.heatindex.max.raw",
    "heat-index-day-max-when" : "$day.heatindex.maxtime.raw",
    "heat-index-day-min" : "$day.heatindex.min.raw",
    "heat-index-day-min-when" : "$day.heatindex.mintime.raw",
    "heat-index-month-max" : "$month.heatindex.max.raw",
    "heat-index-month-max-when" : "$month.heatindex.maxtime.raw",
    "heat-index-month-min" : "$month.heatindex.min.raw",
    "heat-index-month-min-when" : "$month.heatindex.mintime.raw",
    "heat-index-year-max" : "$year.heatindex.max.raw",
    "heat-index-year-max-when" : "$year.heatindex.maxtime.raw",
    "heat-index-year-min" : "$year.heatindex.min.raw",
    "heat-index-year-min-when" : "$year.heatindex.mintime.raw",
    "dewpoint-unit" : "$unit.unit_type.outTemp",
    "dewpoint-unit-label" : "$unit.label.outTemp",
    "dewpoint-now" : "$current.dewpoint.raw",
    "dewpoint-hour-max" : "$hour.dewpoint.max.raw",
    "dewpoint-hour-max-when" : "$hour.dewpoint.maxtime.raw",
    "dewpoint-hour-min" : "$hour.dewpoint.min.raw",
    "dewpoint-hour-min-when" : "$hour.dewpoint.mintime.raw",
    "dewpoint-day-max" : "$day.dewpoint.max.raw",
    "dewpoint-day-max-when" : "$day.dewpoint.maxtime.raw",
    "dewpoint-day-min" : "$day.dewpoint.min.raw",
    "dewpoint-day-min-when" : "$day.dewpoint.mintime.raw",
    "dewpoint-month-max" : "$month.dewpoint.max.raw",
    "dewpoint-month-max-when" : "$month.dewpoint.maxtime.raw",
    "dewpoint-month-min" : "$month.dewpoint.min.raw",
    "dewpoint-month-min-when" : "$month.dewpoint.mintime.raw",
    "dewpoint-year-max" : "$year.dewpoint.max.raw",
    "dewpoint-year-max-when" : "$year.dewpoint.maxtime.raw",
    "dewpoint-year-min" : "$year.dewpoint.min.raw",
    "dewpoint-year-min-when" : "$year.dewpoint.mintime.raw",
    "humidity-unit" : "$unit.unit_type.outHumidity",
    "humidity-unit-label" : "$unit.label.outHumidity",
    "humidity-now" : "$current.outHumidity.raw",
    "humidity-hour-max" : "$hour.outHumidity.max.raw",
    "humidity-hour-max-when" : "$hour.outHumidity.maxtime.raw",
    "humidity-hour-min" : "$hour.outHumidity.min.raw",
    "humidity-hour-min-when" : "$hour.outHumidity.mintime.raw",
    "humidity-day-max" : "$day.outHumidity.max.raw",
    "humidity-day-max-when" : "$day.outHumidity.maxtime.raw",
    "humidity-day-min" : "$day.outHumidity.min.raw",
    "humidity-day-min-when" : "$day.outHumidity.mintime.raw",
    "humidity-month-max" : "$month.outHumidity.max.raw",
    "humidity-month-max-when" : "$month.outHumidity.maxtime.raw",
    "humidity-month-min" : "$month.outHumidity.min.raw",
    "humidity-month-min-when" : "$month.outHumidity.mintime.raw",
    "humidity-year-max" : "$year.outHumidity.max.raw",
    "humidity-year-max-when" : "$year.outHumidity.maxtime.raw",
    "humidity-year-min" : "$year.outHumidity.min.raw",
    "humidity-year-min-when" : "$year.outHumidity.mintime.raw",
    "soil-temperature-unit" : "$unit.unit_type.soilTemp1",
    "soil-temperature-unit-label" : "$unit.label.soilTemp1",
    "soil-temperature-now" : "$current.soilTemp1.raw",
    "soil-temperature-hour-max" : "$hour.soilTemp1.max.raw",
    "soil-temperature-hour-max-when" : "$hour.soilTemp1.maxtime.raw",
    "soil-temperature-hour-min" : "$hour.soilTemp1.min.raw",
    "soil-temperature-hour-min-when" : "$hour.soilTemp1.mintime.raw",
    "soil-temperature-day-max" : "$day.soilTemp1.max.raw",
    "soil-temperature-day-max-when" : "$day.soilTemp1.maxtime.raw",
    "soil-temperature-day-min" : "$day.soilTemp1.min.raw",
    "soil-temperature-day-min-when" : "$day.soilTemp1.mintime.raw",
    "soil-temperature-month-max" : "$month.soilTemp1.max.raw",
    "soil-temperature-month-max-when" : "$month.soilTemp1.maxtime.raw",
    "soil-temperature-month-min" : "$month.soilTemp1.min.raw",
    "soil-temperature-month-min-when" : "$month.soilTemp1.mintime.raw",
    "soil-temperature-year-max" : "$year.soilTemp1.max.raw",
    "soil-temperature-year-max-when" : "$year.soilTemp1.maxtime.raw",
    "soil-temperature-year-min" : "$year.soilTemp1.min.raw",
    "soil-temperature-year-min-when" : "$year.soilTemp1.mintime.raw",
    "soil-moisture-unit" : "$unit.unit_type.soilMoist1",
    "soil-moisture-unit-label" : "$unit.label.soilMoist1",
    "soil-moisture-now" : "$current.soilMoist1.raw",
    "soil-moisture-hour-max" : "$hour.soilMoist1.max.raw",
    "soil-moisture-hour-max-when" : "$hour.soilMoist1.maxtime.raw",
    "soil-moisture-hour-min" : "$hour.soilMoist1.min.raw",
    "soil-moisture-hour-min-when" : "$hour.soilMoist1.mintime.raw",
    "soil-moisture-day-max" : "$day.soilMoist1.max.raw",
    "soil-moisture-day-max-when" : "$day.soilMoist1.maxtime.raw",
    "soil-moisture-day-min" : "$day.soilMoist1.min.raw",
    "soil-moisture-day-min-when" : "$day.soilMoist1.mintime.raw",
    "soil-moisture-month-max" : "$month.soilMoist1.max.raw",
    "soil-moisture-month-max-when" : "$month.soilMoist1.maxtime.raw",
    "soil-moisture-month-min" : "$month.soilMoist1.min.raw",
    "soil-moisture-month-min-when" : "$month.soilMoist1.mintime.raw",
    "soil-moisture-year-max" : "$year.soilMoist1.max.raw",
    "soil-moisture-year-max-when" : "$year.soilMoist1.maxtime.raw",
    "soil-moisture-year-min" : "$year.soilMoist1.min.raw",
    "soil-moisture-year-min-when" : "$year.soilMoist1.mintime.raw",
    "aqi-unit" : "$unit.unit_type.aqi_pm2_5",
    "aqi-unit-label" : "$unit.label.aqi_pm2_5",
    "aqi-now" : "$current('aqi_binding').aqi_pm2_5.raw",
    "aqi-hour-max" : "$hour('aqi_binding').aqi_pm2_5.max.raw",
    "aqi-hour-max-when" : "$hour('aqi_binding').aqi_pm2_5.maxtime.raw",
    "aqi-hour-min" : "$hour('aqi_binding').aqi_pm2_5.min.raw",
    "aqi-hour-min-when" : "$hour('aqi_binding').aqi_pm2_5.mintime.raw",
    "aqi-day-max" : "$day('aqi_binding').aqi_pm2_5.max.raw",
    "aqi-day-max-when" : "$day('aqi_binding').aqi_pm2_5.maxtime.raw",
    "aqi-day-min" : "$day('aqi_binding').aqi_pm2_5.min.raw",
    "aqi-day-min-when" : "$day('aqi_binding').aqi_pm2_5.mintime.raw",
    "aqi-month-max" : "$month('aqi_binding').aqi_pm2_5.max.raw",
    "aqi-month-max-when" : "$month('aqi_binding').aqi_pm2_5.maxtime.raw",
    "aqi-month-min" : "$month('aqi_binding').aqi_pm2_5.min.raw",
    "aqi-month-min-when" : "$month('aqi_binding').aqi_pm2_5.mintime.raw",
    "aqi-year-max" : "$year('aqi_binding').aqi_pm2_5.max.raw",
    "aqi-year-max-when" : "$year('aqi_binding').aqi_pm2_5.maxtime.raw",
    "aqi-year-min" : "$year('aqi_binding').aqi_pm2_5.min.raw",
    "aqi-year-min-when" : "$year('aqi_binding').aqi_pm2_5.mintime.raw",
    "uv-unit" : "$unit.unit_type.UV",
    "uv-unit-label" : "$unit.label.UV",
    "uv-now" : "$current.UV.raw",
    "uv-hour-max" : "$hour.UV.max.raw",
    "uv-hour-max-when" : "$hour.UV.maxtime.raw",
    "uv-day-max" : "$day.UV.max.raw",
    "uv-day-max-when" : "$day.UV.maxtime.raw",
    "uv-month-max" : "$month.UV.max.raw",
    "uv-month-max-when" : "$month.UV.maxtime.raw",
    "uv-year-max" : "$year.UV.max.raw",
    "uv-year-max-when" : "$year.UV.maxtime.raw",
    "solar-radiation-unit" : "$unit.unit_type.radiation",
    "solar-radiation-unit-label" : "$unit.label.radiation",
    "solar-radiation-now" : "$current.radiation.raw",
    "solar-radiation-hour-max" : "$hour.radiation.max.raw",
    "solar-radiation-hour-max-when" : "$hour.radiation.maxtime.raw",
    "solar-radiation-day-max" : "$day.radiation.max.raw",
    "solar-radiation-day-max-when" : "$day.radiation.maxtime.raw",
    "solar-radiation-month-max" : "$month.radiation.max.raw",
    "solar-radiation-month-max-when" : "$month.radiation.maxtime.raw",
    "solar-radiation-year-max" : "$year.radiation.max.raw",
    "solar-radiation-year-max-when" : "$year.radiation.maxtime.raw",
    "wind-direction-unit" : "$unit.unit_type.windDir",
    "wind-direction-unit-label" : "$unit.label.windDir",
    "wind-direction-now" : "$current.windDir.raw",
    "wind-unit" : "$unit.unit_type.windSpeed",
    "wind-unit-label" : "$unit.label.windSpeed",
    "wind-now" : "$current.windSpeed.raw",
    "wind-hour-max" : "$hour.windSpeed.max.raw",
    "wind-hour-max-when" : "$hour.windSpeed.maxtime.raw",
    "wind-day-max" : "$day.windSpeed.max.raw",
    "wind-day-max-when" : "$day.windSpeed.maxtime.raw",
    "wind-month-max" : "$month.windSpeed.max.raw",
    "wind-month-max-when" : "$month.windSpeed.maxtime.raw",
    "wind-year-max" : "$year.windSpeed.max.raw",
    "wind-year-max-when" : "$year.windSpeed.maxtime.raw",
    "rain-rate-unit" : "$unit.unit_type.rainRate",
    "rain-rate-unit-label" : "$unit.label.rainRate",
    "rain-rate-now" : "$current.rainRate.raw",
    "rain-unit" : "$unit.unit_type.rain",
    "rain-unit-label" : "$unit.label.rain",
    "rain-hour" : "$hour.rain.sum.raw",
    "rain-day" : "$day.rain.sum.raw",
    "rain-month" : "$month.rain.sum.raw",
    "rain-year" : "$year.rain.sum.raw"
}
